#mainContainer
{
    display: grid;
    grid-template: 
    'bloc1 bloc2 bloc3'
    'bloc4 bloc5 bloc6'
    'bloc7 bloc8 bloc9';
}
.bloc1
{
    display: flex;
    grid-area: bloc1;
    background-color: darkred;
    height: 80px;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    color: white; 
    align-items: center; 
    padding-left: 20px;
}
.bloc2
{
    display: flex;
    grid-area: bloc2;
    background-color: lightseagreen;
    height: 80px;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    color: white; 
    align-items: center; 
    padding-left: 20px;
}
.bloc3
{
    display: flex;
    grid-area: bloc3;
    background-color: darkturquoise;
    height: 80px;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    color: white; 
    align-items: center; 
    padding-left: 20px;
}
.bloc4
{
    display: flex;
    grid-area: bloc4;
    background-color: purple;
    height: 80px;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    color: white; 
    align-items: center; 
    padding-left: 20px;
}
.bloc5
{
    display: flex;
    grid-area: bloc5;
    background-color: orange;
    height: 80px;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    color: white; 
    align-items: center; 
    padding-left: 20px;
}
.bloc6
{
    display: flex;
    grid-area: bloc6;
    background-color: cornflowerblue;
    height: 80px;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    color: white; 
    align-items: center; 
    padding-left: 20px;
}
.bloc7
{
    display: flex;
    grid-area: bloc7;
    background-color: lightcoral;
    height: 80px;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    color: white; 
    align-items: center; 
    padding-left: 20px;
}
.bloc8
{
    display: flex;
    grid-area: bloc8;
    background-color: green;
    height: 80px;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    color: white; 
    align-items: center; 
    padding-left: 20px;
}
.bloc9
{
    display: flex;
    grid-area: bloc9;
    background-color: navy;
    height: 80px;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
    color: white; 
    align-items: center; 
    padding-left: 20px;
}